*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 0.5rem;
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
nav{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
}
nav h1{
    font-family: 'Roboto mono','consolas', 'Nunito', 'Arial', 'sans-serif';
    font-size: 2rem;
    color: #e405ef;
    text-align: center;
    text-shadow: 3px -1px 8px rgb(179, 179, 179);
    padding: 0.2rem 0.4rem;
    margin: auto;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    text-decoration: none;
    list-style: none;
    padding:0rem 0rem;
    margin:0rem 1.8rem;
    
}

nav ul li a{
    font-size: 1.8rem;
    font-weight: 900;
}

nav ul li a:hover{
    color: red;
    font-weight: 800;
}

.main--container{
    display: flex;
    height: 100vh;
    margin: auto;
}



a{
    color: inherit;
    text-decoration: none;
}
::-webkit-scrollbar
{
    display: none;
}

.image img
{
    display: flex;
    box-sizing: border-box;
    width: inherit;
    height: 5rem;
    background-size: cover;   
}
