<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static\css\desktop_access.css">
    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            <div class="desktop">
                <button><a href="/">HOME</a></button> 
            </div>
            <ul>
                <li><a href="get?file=C:\\">C </a></li>
                <li><a href="get?file=E:\\">E </a></li>
                <li><a href="get?file=F:\\">F </a></li>
            </ul>
        </nav>
        <div class="main--container">
            {% if links %}
            {% for link in links %}          
              
            <div class="files--container">
                <a href="{{link}}"> <p> {{ links[link] }} </p> </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="files--container">
                <p style="color: rgb(0, 0, 0); font-size: 1.2rem;"> Nothing to show here</p>
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>