<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static\css\desktop_access.css">
    <script>
        
        
        function sendRequest(thelink,optionValue)
        {
            var xhr=new XMLHttpRequest();
            xhr.open('POST','http://127.0.0.1:9999/decision',true);
            xhr.setRequestHeader('Content-type','application/json;charset=utf-8');
            var data={};
            data.link=thelink
            data.option=optionValue;
            
            xhr.send(JSON.stringify(data));
        
            console.log(xhr.responseType);
        }

        function downloadit(link)
        {
            //console.log('working');
            console.log(link.parentElement.getElementsByTagName('a')[0].href);
            sendRequest(link.parentElement.getElementsByTagName('a')[0].href,1);
            
        }

        function showit(link)
        {
            sendRequest(link.parentElement.getElementsByTagName('a')[0].href,0);
        }
        
    </script>
    <title>This PC Files</title>
</head>
<body>
    <main>
        <nav>
            <div class="desktop">
                <button><a href="/">HOME</a></button> 
            </div>
            <ul>
                {% for drive in all_drives %}
                <li><a href="get?file={{drive}}\">{{drive[0]}} </a></li>
                {% endfor %}
                <!--
                    <li><a href="get?file=E:\">E </a></li>
                    <li><a href="get?file=F:\">F </a></li>
                -->
            </ul>
        </nav>
        <div class="main--container">
            {% if links %}
            {% for link in links %}          
            <div class="files--container">
                
                {% if link['option']==2 %}
                <a href="javascript:void(0);"> <p> {{ link['content'] }} </p> 
                    <h6 class="ext">{{link['ext']}}</h6>
                </a>
                <button class="show"><a href="{{link['href']}}">Show</a></button>
            <button class="download"><a href="{{link['href']}}" download="{{ link['fullname'] }}">Download</a></button>
                {% elif link['option']==1 %}
                <a href="javascript:void(0);"> <p> {{ link['content'] }} </p>
                    <h6 class="ext">{{link['ext']}}</h6>
                </a>           
                <button class="download"><a href="{{link['href']}}" download="{{ link['fullname'] }}">Download</a></button>
                {% else %}
                <a href="{{link['href']}}" style="width: auto;"> <p> {{ link['content'] }} </p> </a>
                    <button class="show" style="display: none;" ></button>
                    <button class="download" style="display: none;"></button>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="files--container">
                <p style="color: rgb(0, 0, 0); font-size: 1.2rem;"> Nothing to show here</p>
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>