<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; margin: auto auto;">
        <form action="/getEntry" method="POST" id='get_password' style="display: flex; flex-direction: column;margin: auto auto
        ;">
            Enter Password
            <input type="password" name="password" style="margin-top:0.5rem ;">
            <button  style="margin-top:0.5rem ;" form="get_password" type="submit" value="Submit">Submit</button>
        </form>

    </div>
</body>
</html>