<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/only_images.css">
    <title>Only Images</title>
</head>
<body>
    <main>
        <nav>
            <h1>images</h1>
           
        </nav>
        <div class="main--container">
            <div class="image">
                <img src="http://192.168.43.45:5050/get?file=E:\\\879b2a2c27fe09bcb3476d9eacdeff92.jpg" alt="">
            </div>
            
        </div>
    </main>
</body>
</html>